.save-button {
  text-align: right;
  padding-right: 1.5em;
  margin: 10px 0;
  color: var(--ion-color-primary);
}

hr {
  height: 1px;
  background-color: var(--ion-color-medium-shade);
}
