.homepage-graphic {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 50%;
  z-index: -1;
}

.timer-icons {
  text-align: center;
  img {
    margin-top: 0.75em;
    margin-bottom: -1em;
  }

  #yellow {
    color: var(--ion-color-primary);
  }

  #blue {
    color: var(--ion-color-secondary);
  }
}

.timer-grid {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.header {
  p {
    margin-top: -1.5em;
  }
}

.big-numbers {
  font-size: 4em;
}

.small-numbers {
  padding-top: 2.4em;

  span {
    font-size: 2em;
  }
}

.current-task-section {
  position: absolute;
  top: 37%;
  left: 2.5%;
  width: 95%;
}

.timer-modal {
  .modal-wrapper {
    --height: 80%;
    position: absolute;
    bottom: 7%;
  }
}

.complete-task-modal {
  --background: var(--ion-color-success);
  .modal-wrapper {
    --height: 100%;
    position: absolute;
    bottom: 7%;
  }

  img {
    width: 30%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  h2 {
    color: #ffffff;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%);
  }
}

main {
  background-color: transparent !important;
}

#home-page {
  --background: url(../assets/homeBG.png) 50% 50% no-repeat;
}

ion-button {
  --border-radius: 10px;
  --box-shadow: none;
}

.select-task {
  .tag {
    color: white;
    text-align: center;
    border-radius: 20px;
    font-size: 12px;
    width: fit-content;
    padding: 2px 11px;
    margin-bottom: 1em !important;
  }

  .red {
    background: #ff6f6f;
  }

  .blue {
    background: #6999d0;
  }

  .green {
    background: #7ad683;
  }

  .purple {
    background: #c05fd5;
  }
}

ion-card {
  border-radius: 10px !important;
  padding-left: 1em;
  box-shadow: 0px 1px 3px #eaeaea !important;
  cursor: pointer;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ripple div {
  position: absolute;
  border: 4px solid var(--ion-color-primary);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

ion-badge {
  margin-top: -1em;
  border-radius: 25px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  padding-right: 1em;
}

#profile-pic {
  font-size: 48px;
  position: absolute;
  right: 8%;
  top: 5%;
}

#start-timer {
  width: 80%;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50.5%, 0);
}

#stop-timer {
  background-color: var(--ion-color-primary);
}

#pause-timer {
  background-color: var(--ion-color-secondary);
}

#current-task-section-head {
  padding-left: 1.5em;
}

#complete-task-button {
  position: absolute;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
  color: var(--ion-color-success);
  --color-activated: var(--ion-color-success);
  --border-radius: 25px;
  --border-width: 1px;
  --border-color: var(--ion-color-success);
}
