.swiper-slide {
    display: block;
}

.button {
    width: 90%;
}

.footer {
    text-align: center;
}

#slides {
    height: 90%;
}

h2 {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0%);
}

p {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0%);
}

img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    
}
  