.div-content {
    text-align: center;

    h1 {
        font-size: 24;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .field {
        position: absolute;
        top: 50%;
        left: 30%;

        .input {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    .button {
        background-color: var(--ion-color-primary);
        border-radius: 5px;
    }
}

#top-border {
    position: absolute;
    top: 0;
    left: 0;
}

#bot-border {
    position: absolute;
    bottom: 0;
    right: 0;
}