.div-content {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);

  h1 {
    font-weight: 700;
    font-size: 36px;
    color: var(--color-text-primary);
  }

  form {
    width: 275px;
    margin-top: 2em;
  }
}

// will hide nav bar but hides on all pages
// .navbar-parent {
//     display: none !important;
// }

.link-text {
  color: var(--color-secondary);
}

.alt-login {
  width: 100%;
  position: fixed;
  bottom: -16em;
  //       position: absolute;
  //   bottom: -17em;
  //   left: 50%;
  //   transform: translate(-50%, 0%);

  p {
    margin-top: 2em;
  }
}

.input {
  margin-bottom: 0.75em;
}

.button {
  background-color: var(--color-primary);
  border-radius: 5px;
  font-weight: 600;
  width: 125px;
  margin-top: 1em;
}

.wrong-password-text {
  color: red;
}

#top-border {
  position: absolute;
  top: 0;
  left: 0;
}

#bot-border {
  position: absolute;
  bottom: 0;
  right: 0;
}
