.chart-card {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.date-title {
  margin-bottom: 0;
}

.statistics-cards {
  display: flex;
  transition: 1s;

  .tasks-completed {
    margin-right: 1em;
  }

  ion-card {
    margin: 1em 0;
    padding: 1.5em 1em;
    flex: 1;

    h1,
    p {
      margin: 0;
    }

    h1 {
      color: black;
    }
  }
}
