ion-progress-bar {
    position: absolute;
    width: 90%;
    bottom: 5%;
    left: 5%;
}

.survey-modal-1 {
    max-width: 900px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    div {
        box-shadow: none !important;
        text-align: center;
    }

    .modal-wrapper {
        height: 60% !important;
    }

    .modal-title {
        margin-bottom: 3em;
    }

    .survey-nextButton {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.survey-modal-2 {
    div {
        box-shadow: none !important;
        text-align: center;
    }
    
    .modal-wrapper {
        height: 60% !important;
    }

    .modal-title {
        margin-bottom: 3em;
    }

    .modal-item {
        padding-right: 30%;
    }

    .survey-nextButton {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.survey-modal-3 {
    div {
        box-shadow: none !important;
        text-align: center;
    }

    ion-list {
        margin-bottom: 20%;
    }
    
    .modal-wrapper {
        height: 80% !important;
    }

    .survey-nextButton {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

