ion-progress-bar {
    position: absolute;
    width: 90%;
    bottom: 5%;
    left: 5%;
}

.survey-modal-1 {
    max-width: 900px;
    margin: 50px;

    div {
        --box-shadow: none;
        text-align: center;
    }

    .modal-wrapper {
        height: 75% !important;
    }

    .modal-title {
        margin-bottom: 3em;
    }

    .survey-nextButton {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.survey-modal-2 {
    div {
        box-shadow: none !important;
        text-align: center;
    }

    ion-list {
        ion-item {
            // height: 10%;
        }
    }
    
    .modal-wrapper {
        height: 75% !important;
    }

    .survey-nextButton {
        margin: auto;
    }
}

.google-modal {
    div {
        box-shadow: none !important;
        text-align: center;
    }

    .modal-wrapper {
        height: 67% !important;
    }

    .link-text {
        opacity: 100%;
        color: var( --ion-color-secondary);
        cursor: pointer;
    }

    #sync-button {
        outline: none;
        display: flex;
        align-items: center;
        border-radius: 3em;
        padding: 0 2em;
        background: white;
        box-shadow: 0px 1px 4px #0000001f;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        p {
          font-size: 1.3em;
          margin-left: 1em;
        }
      }

      #skip-button {
        outline: none;
        align-items: center;
        background: none;
        box-shadow: none;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%);

        p {
            font-size: 1.3em;
            margin-left: 1em;
            color: var(--ion-color-secondary);
          }
    }
}

