.nothing-here {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .hourglass {
    height: 100px;
    width: 100px;
    background-color: var(--ion-color-primary);
    mask: url("../assets/hourglass.svg") no-repeat center;
    mask-size: 100px;
    margin-bottom: 1em;
  }

  p {
    text-align: center;
    margin: 0;
  }
}

.yellow-add-button {
  background-color: var(--ion-color-primary);
  height: 50px;
  width: 50px;
  border-radius: 10em;
  position: fixed;
  bottom: 1.5em;
  z-index: 1000;
  right: 2em;
  outline: none;

  @-moz-document url-prefix() {
    bottom: 5.5em;
  }

  .add-icon {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    mask: url("../assets/add-icon.svg") no-repeat center;
    mask-size: 100%;
  }
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;

  .save-button {
    padding-right: 1.5em;
    margin: 10px 0;
    color: var(--ion-color-primary);
    cursor: pointer;
  }

  .cancel-button {
    padding-right: 1.5em;
    margin: 10px 0;
    cursor: pointer;
  }
}

.delete-button {
  background-color: var(--ion-color-danger);
  .delete-mask {
    height: 30px;
    width: 30px;
    mask: url("../assets/trash.svg") center no-repeat;
    background-color: white;
    mask-size: 30px;
  }
}

.edit-button {
  background-color: var(--ion-color-primary);
  .edit-mask {
    height: 30px;
    width: 30px;
    mask: url("../assets/pencil.svg") center no-repeat;
    background-color: white;
    mask-size: 30px;
  }
}

.add-button {
  background-color: var(--ion-color-secondary);
  .add-mask {
    height: 30px;
    width: 30px;
    mask: url("../assets/add-icon.svg") center no-repeat;
    background-color: white;
    mask-size: 30px;
  }
}

ion-item {
  background: white;
  opacity: 1;
}

.no-tasks-here {
  margin-bottom: 0;
  text-align: center;
  color: #9e9e9e94;
}
.task {
  display: flex;
  margin: 1em 0;

  p {
    margin: 0 0 10px 0;
  }

  width: 100%;
  ion-reorder {
    width: 100%;
  }
  .body {
    width: 100%;
  }

  .checkbox-div {
    display: flex;
    z-index: 999 !important;
    .checkbox {
      margin: 0.2em 1em 0 0;
    }
  }
}

.date {
  margin-left: 0.7em;
  margin-bottom: 0;
}

.tag {
  color: white;
  text-align: center;
  border-radius: 20px;
  font-size: 12px;
  width: fit-content;
  padding: 2px 11px;
  margin: 0 !important;
}

.red {
  background: #ff6f6f;
}

.blue {
  background: #6999d0;
}

.green {
  background: #7ad683;
}

.purple {
  background: #c05fd5;
}

.header-div-parent {
  z-index: 10;
  .header-div {
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;

    ion-card {
      height: fit-content;
    }

    .todo-header {
      margin: 0;
      background: white;
      display: flex;
      align-items: center;
    }
  }
}

.delete-alert {
  .delete-button {
    color: var(--ion-color-danger);
  }
  .cancel-button {
    color: #000000;
  }
}
// .ion-card-div {
//   margin: 0;
//   width: 89vw;
//   height: 9em;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, 0);
//   z-index: 3;
//   border-radius: 1em;
//   box-shadow: 0px 3px 3px 0px #0000001c;
//   transition: 0.3s;
//   ion-card {
//   }
//   ion-card:hover {
//     // position: absolute;
//     // top: 1000px;
//   }

//   .angle-down {
//     mask: url("../assets/angle-down.svg") center no-repeat;
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translate(-50%, 0);
//     background-color: #888888;
//     width: 24px;
//     height: 24px;
//     mask-size: 24px;
//     margin-bottom: 0.3em;
//   }
// }
