.nothing-here {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .hourglass {
    height: 100px;
    width: 100px;
    background-color: var(--ion-color-primary);
    mask: url("../assets/hourglass.svg") no-repeat center;
    mask-size: 100px;
    margin-bottom: 1em;
  }

  p {
    text-align: center;
    margin: 0;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ripple div {
  position: absolute;
  border: 4px solid var(--ion-color-primary);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.yellow-add-button {
  background-color: var(--ion-color-primary);
  height: 50px;
  width: 50px;
  border-radius: 10em;
  position: fixed;
  bottom: 1.5em;
  z-index: 1000;
  right: 2em;
  outline: none;

  .add-icon {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    mask: url("../assets/add-icon.svg") no-repeat center;
    mask-size: 100%;
  }
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;

  .save-button {
    padding-right: 1.5em;
    margin: 10px 0;
    color: var(--ion-color-primary);
  }

  .cancel-button {
    padding-right: 1.5em;
    margin: 10px 0;
    color: var(--ion-color-danger);
  }
}

.delete-button {
  background-color: var(--ion-color-danger);
  .delete-mask {
    height: 30px;
    width: 30px;
    mask: url("../assets/trash.svg") center no-repeat;
    background-color: white;
    mask-size: 30px;
  }
}

.edit-button {
  background-color: var(--ion-color-primary);
  .edit-mask {
    height: 30px;
    width: 30px;
    mask: url("../assets/pencil.svg") center no-repeat;
    background-color: white;
    mask-size: 30px;
  }
}

.add-button {
  background-color: var(--ion-color-secondary);
  .add-mask {
    height: 30px;
    width: 30px;
    mask: url("../assets/add-icon.svg") center no-repeat;
    background-color: white;
    mask-size: 30px;
  }
}

ion-item {
  background: white;
  opacity: 1;
}

.no-tasks-here {
  margin-bottom: 0;
  text-align: center;
  color: #9e9e9e94;
}
.task {
  display: flex;
  margin: 1em 0;

  p {
    margin: 0 0 10px 0;
  }

  ion-reorder {
    width: 100%;
  }

  .checkbox-div {
    display: flex;
    z-index: 999 !important;
    .checkbox {
      margin: 0.2em 1em 0 0;
    }
  }
}

.date {
  margin-left: 0.7em;
  margin-bottom: 0;
}

.tag {
  color: white;
  text-align: center;
  border-radius: 20px;
  font-size: 12px;
  width: fit-content;
  padding: 3px 11px;
}

.red {
  background: #ff6f6f;
}

.blue {
  background: #6999d0;
}

.green {
  background: #7ad683;
}

.purple {
  background: #c05fd5;
}

.header-div-parent {
  z-index: 10;
  .header-div {
    background-color: white;

    .todo-header {
      margin: 0;
      background: white;
      padding: 1em 0 0.5em 0.5em;
      border-bottom: 1px solid #eeeeee;
    }
  }
}

.delete-alert {
  .delete-button {
    color: var(--ion-color-danger);
  }
  .cancel-button {
    color: #000000;
  }
}
// .ion-card-div {
//   margin: 0;
//   width: 89vw;
//   height: 9em;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, 0);
//   z-index: 3;
//   border-radius: 1em;
//   box-shadow: 0px 3px 3px 0px #0000001c;
//   transition: 0.3s;
//   ion-card {
//   }
//   ion-card:hover {
//     // position: absolute;
//     // top: 1000px;
//   }

//   .angle-down {
//     mask: url("../assets/angle-down.svg") center no-repeat;
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translate(-50%, 0);
//     background-color: #888888;
//     width: 24px;
//     height: 24px;
//     mask-size: 24px;
//     margin-bottom: 0.3em;
//   }
// }
